@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
    font-family:"Bebas Neues", sans-serif;

}
#NavBar a {
    font-size: 18px;
    font-weight: semi-bold;
    color: #9f2180;
    
    
}
#NavBar button {
    font-size: 18px;
    font-weight: bold;
}
.carousel-inner{
    max-height: 39rem;
}
#search {
    border-radius: 20px;
    border-color: #9f2180;

}

.btn-bd-primary {

  }
  .parrafos span {
    font-family:Arial, Helvetica, sans-serif ;
    color: #9f2180;
    font-weight: bold;
  }
  .parrafos {
    text-align: justify;
  }
  .costos {
    text-align: center;
    color: #9f2180;
    font-weight: bold;
  }